/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2022, 8:33:53 AM
    Author     : ASUS-PRO
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    font-family: var(--primary-font);
    background-color: var(--bg-white);

} 
/*---------------------
Header
-----------------------*/

/*---------------------
  DetailRoom Section
-----------------------*/

.containerDetailRoom {
	width: 100%;
	height: 800px;
}
.NameTypeRoom{
	width: 100%;
	text-align: center;
	color: #dfa974;
}
.RoomPicContainer{
	width: 100%;
	height: 250px;
	margin-top:50px;
	display: flex;
}
.RoomInfoDetailContainer{
	width: 100%;
	height: 250px;
	margin-top: 50px;
	display: flex;
}
.CommentContainer{
	width: 100%;
	height: 350px;
	display: flex;
	margin-top: 50px;
}
.RoomPic{
	height: 100%;
	width: 22%;
	margin: auto;
}
table{
	width: 80%;
	margin: auto;
	margin-top: 0px;
}
th,td{
	border: 10px solid #ffffff ;
}
.formComment{
	margin: auto;	
}
.roomService{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: auto;
	color: #dfa974;
}
.showComment{
	width: 60%;
	height: 400px;
	background-color: #dfa974;
	margin: auto;
	border-radius: 5px;
}

.occupancy,.floorNo,.price{
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}